# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
.venv/
venv/
ENV/
env/

# Data & Config
backend/.env
backend/*.db
.env
*.bak

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node / Angular (Recursive covering)
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*