.page-container {
    min-height: 100vh;
    background-color: #f1f5f9;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}